body{
	margin: 0px 60px;
}
.btn{

}
.btn-group{

}
.carousel{

}
.card{
	    margin-left: 600px;
    margin-top: 70px;
}
.form{

}
.form h1{
	text-align: center;
}
.list-group{
	text-align: center;
}